body {
  margin: 0px;
  box-shadow:inset -70px 0 200px -30px rgba(0,0,0,.75);
}
h2 {
  margin: 0px;
  font-family: verdana;
  font-size: 25px;
}

h3 {
  margin: 0px;
  font-family: verdana;
  font-size: 18px;
} 

h4 {
  width: 800px;
  font-family: verdana;
  font-size: 14px;
  background-color: silver 	;
  text-align: left;
  color: black;
} 
p {
  font-family: verdana;
  font-size: 14px;
}

pre {
  width: 800px;
  font-family: verdana;
  font-size: 14px;
  background-color: silver 	;
  text-align: left;
  color: black;
}

#titulo {
	 width: 800px;
     margin: 0 auto;
	 text-align: center;

}

#multimedia {
     width: 800px;
     margin: 0 auto;
	 text-align: center;

}

#myHammer {
  background: silver;
  height: 300px;
  text-align: center;
  font: 30px/300px Helvetica, Arial, sans-serif;
}